body {
  text-align: center;
  padding: 50px;
  margin: 50px;
  background-color: rgb(216, 216, 216);
}

p {
  padding: 20px;
  margin: 20px;
}

input {
  padding: 20px;
  margin: 20px;
}

img {
  max-width: 1280px;
  max-height: 960px;
}

ul {
  list-style-type: none;
}

